streamlit>=1.32.0
openai==1.73.0
llama-index==0.12.30
python-dotenv==1.1.0
pandas==2.2.3
# sqlite3
python-magic==0.4.27
python-docx==0.8.11
PyPDF2==3.0.1
unstructured==0.14.2
pdf2image==1.16.3
qdrant-client==1.13.1
llama-index-core==0.12.30
llama-index-vector-stores-qdrant==0.6.0
llama-index-embeddings-fastembed==0.3.1
fastembed==0.6.1
onnxruntime==1.21.0
langchain_community==0.3.21